<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>L15 - Ajouter un Compte</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
	<h1>Ajout de compte</h1>

<form th:action="@{/addAccount}"
         th:object="${account}" method="POST">

         <select name = "type">
            <option value = "Courant" selected>Courant</option>
            <option value = "Livret A">Livret A</option>
            <option value = "LDD">LDD</option>
            <option value = "PEA">PEA</option>
            <option value = "Assurance Vie">Assurance Vie</option>
            <option value = "Livret Epargne">Livret Epargne</option>
         </select>

         <br/>
         <input type="hidden" name="userId" th:value="${usr_id}" />
         <input type="submit" value="Create" />
      </form>

</body>
</html>