<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>L15 - Search</title>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type"/>
</head>
<body>

<table border="0">
    <tr>
        <th><p th:utext="${errorMessage}"/></th>
    </tr>
</table>

<form method="GET" th:action="@{/operations}">
    IBAN: <input name="iban" type="text"/><br/>
    Date: <input name="date" type="text"/><br/>
    Type:
    <select th:name="type">
            <option value = "VIREMENT" selected>Virement</option>
            <option value = "CB">Carte de Paiement</option>
            <option value = "CHEQUE">Chèque</option>
         </select><br/>
    <input type="submit" value="Search"/>
</form>

</body>
</html>