<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>L15 - Liste de comptes</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
  <h1>La liste des comptes..</h1>

  <p>
    <a th:href="@{|/addAccount/${user}|}">Ouvrir un compte bancaire</a>
  </p>

  <table border="1">
      <tr>
         <th>ID</th>
         <th>IBAN</th>
         <th>Type</th>
         <th>Frais</th>
         <th>Interet</th>
          <th>Voir</th>
          <th>Action</th>
      </tr>
      <tr th:each="acc : ${accounts}">
          <td th:utext="${acc.id}">...</td>
          <td th:utext="${acc.iban}">...</td>
          <td th:utext="${acc.type}">...</td>
          <td th:utext="${acc.fee}">...</td>
          <td th:utext="${acc.interest}">...</td>
         <td >
             <a th:href="@{|/account/${acc.iban}|}">Détails</a>
         </td>
          <td>
              <form th:method="delete" th:action="@{/delAccount}">
                  <input name="ide" th:value="${acc.id}" type="hidden"/>
                  <button type="submit">Cloturer</button>
              </form>
          </td>
      </tr>
   </table>

</body>
</html>