<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>L15 - Accounts</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
	<h1>Welcome back </h1>

	<p th:text="'Hello, !'" />

  <p>
    <a th:href="@{/addAccount}">Creer un compte bancaire</a>
  </p>

  <table border="1">
      <tr>
         <th>ID</th>
         <th>IBAN</th>
         <th>Type</th>
          <th>Action</th>
          <th>Action</th>
      </tr>
      <tr th:each="acc : ${accounts}">
          <td th:utext="${acc.id}">...</td>
          <td th:utext="${acc.iban}">...</td>
          <td th:utext="${acc.type}">...</td>
         <td >
             <form th:action="@{/account}" th:method="get">
                 <input name="ide" th:value="${acc.id}" type="hidden"/>
                 <button type="submit">Details</button>
             </form>
         </td>
          <td>
              <form th:method="delete" th:action="@{/delAccount}">
                  <input name="ide" th:value="${acc.id}" type="hidden"/>
                  <button type="submit">Cloturer</button>
              </form>
          </td>
      </tr>
   </table>

</body>
</html>