<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>L15 - Inscription client</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
	<h1>Welcome back </h1>

<form th:action="@{/addUser}"
         th:object="${user}" method="POST">
         Nom: <input type="text" th:field="*{lastName}" /><br/>
         Prénom: <input type="text" th:field="*{firstName}" /><br/>
         Email: <input type="text" th:field="*{email}" /><br/>
         Password: <input type="password" th:field="*{password}" /><br/>
         <input type="submit" value="Create user" />
      </form>

</body>
</html>