<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>L15 - Search</title>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type"/>
</head>
<body>

<table border="0">
    <tr>
        <th><p th:utext="${errorMessage}"/></th>
    </tr>
</table>

<form method="GET"
      th:action="@{/account}">
    [Optionnel] IBAN du compte source:
    <input name="ibanSrc" type="text"/>
    <br/>
    [Optionnel] IBAN du compte de destination:
    <input name="ibanDest" type="text"/>
    <br/>
    [Optionnel] date de prise d'effet:
    <input name="date" type="text"/>
    <br/>
    [Optionnel] Libellé
    <input name="label" type="text"/>
    <br/>
    [Optionnel] Type (VIREMENT, CB ou CHEQUE)
    <input name="Type" type="text"/>
    <br/>
    <input type="submit" value="Search"/>
</form>

</body>
</html>