<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>L15 - Transfer</title>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type"/>
</head>
<body>

<table border="0">
    <tr>
        <th><p th:utext="${errorMessage}"/></th>
    </tr>
</table>

<form method="POST"
      th:action="@{/createTransfer}">
    IBAN du compte de destination:
    <input name="ibanDest" type="text"/>
    <br/>
    Montant:
    <input name="value" step="0.01" type="number"/>
    <br/>
    Libellé
    <input name="label" type="text"/>
    <br/>
    <input name="ibanSrc" th:value="${account.iban}" type="hidden"/>
    <input type="submit" value="Validate"/>
</form>

</body>
</html>